In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("house_cian.csv")

In [14]:
df.head()

,url,price,area,renovation,house_type,date,parking,finish,metro,time_to_metro
0,https://www.cian.ru/sale/flat/325150788/,17533760,181462.4613,-1,3,2025-12-22,0.0,-1.0,метро Строгино,5 мин.
1,https://www.cian.ru/sale/flat/325229458/,25000000,181462.4613,-1,0,2025-12-22,0.0,-1.0,метро Строгино,6 мин.
2,https://www.cian.ru/sale/flat/323536650/,26900000,181462.4613,-1,0,2025-12-22,0.0,-1.0,метро Строгино,2 мин.
3,https://www.cian.ru/sale/flat/325187570/,23307000,181462.4613,-1,3,2025-12-22,0.0,-1.0,метро Строгино,5 мин.
4,https://www.cian.ru/sale/flat/325062248/,65000000,181462.4613,-1,0,2025-12-22,0.0,-1.0,метро Строгино,4 мин.