In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("house_cian.csv")

In [8]:
df.head()

,url,price,area,renovation,house_type,date,parking,finish
0,https://krasnogorsk.cian.ru/sale/flat/323505071/,14482207,181462.4613,-1,0,2025-12-22,0.0,-1.0
1,https://krasnogorsk.cian.ru/sale/flat/323504967/,19142669,181462.4613,-1,0,2025-12-22,0.0,-1.0
2,https://www.cian.ru/sale/flat/325229458/,25000000,181462.4613,-1,0,2025-12-22,0.0,-1.0
3,https://www.cian.ru/sale/flat/323816931/,3950000,19.7300,-1,0,2025-12-22,0.0,-1.0
4,https://www.cian.ru/sale/flat/314714365/,20000000,181462.4613,-1,3,2025-12-22,2.0,0.0